body {
    background-color: rgb(133, 196, 255);
    font-family: cursive;
    text-align: center;
}

#class {
    background-color: blueviolet;
}

h2 {
    font-size: small;
}

hr {
    display: block; 
    overflow: hidden; 
    border-style: double; 
    border-width: 8px;
}