body {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-family: cursive;
}

.timeline {
    background-color: blue;
    padding: 7rem;
    display: flex;
    flex-direction: row;
}

div {
    background-color: blueviolet;
}

h2 {
    background-color: brown;
    font-size: small;
    text-align: center;
    font-family: cursive;
}